@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
    /* Cores do texto */

    --texto-rosa: #F2B4BA;
    --texto-branco: #FFFFFF;

    /* Cores normais */

    --rosa-escuro: #DB8497;

    /* Primárias */

    --verde: #A2E7D8;
    --rosa: #F2ACE2;
    --laranja: #F5C0A7;
}

/* Geral */

.texto-rosa {
    color: var(--texto-rosa)
}

/* Componentes */

.cabecalho-main {
    display: grid;
    grid-template-rows: 75% 25%;
    width: 100vw;
    height: 6rem;
}

.logo-cabecalho {
    position: relative;
    top: 0;
    left: -1314rem;
    grid-row: 1/3;
}

.logo-img {
    width: 100%;
    height: 100%;
}

.top {
    grid-row: 1/2;
    background: url("../imagens/Background\ 2.png") no-repeat center/100%;
}

.nav-paginas {
}

.bottom {
    grid-row: 2/2;
    background: url("../imagens/Background.png") no-repeat center/100%;
}
